.tramdsdk {
    font-weight: bold;
    text-align: left;
    margin-left: 220px;
}

.listitemdj {
    text-align: center;
    margin-left: 210px;
}

.listitemdj1 {
    text-align: center;
    margin-left: -490px;
}
.listitemdj2 {
    text-align: center;
    margin-left: -560px;
}
.listitemdj3 {
    margin-left: -160px;
}