.containerabout {
    
    height: 100vh;
    background-size: cover;
}

.mainheddabout {
    padding-top: 150px;
}

.firstarranfee {
    padding-left: 222px;
    padding-right: 192px;
    text-align:center;
}