.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:white;
  }
  
  .header .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  
  .uaplimageedit {
    width: 209px !important;
height: 69.67px !important;

text-align: center;

  }

  .topnakvs {
    color: #818181 !important;
  }

  .topnakvs:hover {
    color: #527442 !important;
  }


  .trackypurorder {
    
    font-family: Inter;
    font-size: 16px;
    font-weight: bold !important;
    line-height: 19.36px;
    

    text-align: left;
    

  }


  .homeHedi{
    text-decoration: none;
  }

  .trackimageadjust {
    height: 80px;
    width: 210px;
    margin-top: -12px;
    margin-right: 82px;
  }