.service-form {
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .service-form h2 {
    margin-bottom: 20px;
  }
  
  .service-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .service-form input,
  .service-form select {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .service-form button {
    padding: 10px 20px;
    background-color: #06f50e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .service-form button:hover {
    background-color: #a07245;
  }
  
  .submitbutt{
    width: 181.42px;
height: 39.13px;
top: 555.1px;
left: 1242.01px;
gap: 0px;
border-radius: 8.54px 0px 0px 0px;
opacity: 0px;
background: #004019 !important;

  }

  .boxcontents {
    width: 426.17px;
height: 39.13px;
top: 250.44px;
left: 996.71px;
gap: 0px;
border-radius: 12px !important;
border: 12px;
opacity: 0px;

  }