.service-description {
    width: 50%;
    text-align: left;
  }
  
  .service-description h1 {
    font-size: 2em;
    color: #333;
  }
  
  .service-description p {
    font-size: 1.2em;
    color: #666;
  }
  
  .description-sections {
    display: flex;
    flex-direction: row !important;
  }
  
  .section {
    margin-top: 20px;
    width: 388px;
height: 498px;
top: 559px;
left: 43px;


background-color: #D9D9D95E;


  }
  
  .section h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }

  .sectionsec {
    margin-top: 20px;
    width: 388px;
height: 498px;
top: 559px;
left: 43px;

background-color: #D9D9D95E;
margin-left:12px ;
  }
  
  .addingbackground {
    width: 50%;
    text-align: left;
    background-image: url(newimage.jpg); /* Adjust the path accordingly */
    
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 750px;
    background-color: black;
    backdrop-filter: blur 120px;
    
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  
  .service-description h1 {
    font-size: 2em;
  }
  
  .service-description p {
    font-size: 1.2em;
  }
  
  .description-sections {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .section h2 {
    font-size: 1.5em;
  }
  
  .section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }
  
  .mainhedd {
    color: #292355 !important;
    font-weight: bold !important;
  }

 .Fineartsecs{
    color: #646464;
    ;
    font-family: Inter;
font-size: 43.89px;
font-weight: 700;
line-height: 53.12px;
text-align: left;

 }

 .minibackeff {
    width: 459px;
height: 118px;
top: 157px;

border-radius: 0px 30px 30px 0px;

background: #EBE9FF9E;

 }

 .parahiglight {
font-family: Inter;
font-size: 43.63px !important;
font-weight: 700 !important;
line-height: 52.8px;
text-align: left;
color: #292355 !important;

 }