/* src/App.css */
.app {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.topnakvs {
  font-family: Inter;
font-size: 17.49px;
font-weight: 700;
line-height: 21.16px;
text-align: left;
text-decoration: none;
padding: 5px;
color: gray;

}

.topnakvs:hover {
  font-family: Inter;
font-size: 17.49px;
font-weight: 700;
line-height: 21.16px;
text-align: left;
text-decoration: none;
padding: 5px;
color:  #527442;

}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.username {
  background-color: #ff4081;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

main {
  display: flex;
  margin: 20px;
}

.left {
  flex: 3;
  padding: 20px;
}

.right {
  flex: 2;
  padding: 20px;
}

.service-form {
  background-color:  #F2F2F29E;
  
  padding: 20px;
  border-radius: 25px;
  width: 420px;
  height: 550px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 224, 224);
}

.service-form form div {
  margin-bottom: 15px;
}

.service-form label {
  display: block;
  margin-bottom: 5px;
}

.service-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.buttonElemrn {
  width: 181.42px;
  height: 39.13px;
  top: 555.1px;
  left: 1242.01px;
  color: white;
  font: inner;
 
  border-radius: 12px;
 
  background: #004019 !important;

  
}

.service-info h1,
.service-info h2,
.service-info p {
  margin: 10px 0;
}

.service-info section {
  margin-top: 20px;
}

.service-info h3 {
  margin-bottom: 10px;
}

.service-info ul {
  list-style-type: none;
  padding: 0;
}

.service-info li {
  margin-bottom: 5px;
}


.alignitemq {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.app {
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

